.menu-icon {
  display: inline !important;
  padding-right: 7px;
}

.heading-icon {
  padding-right: 15px;
}

a.current {
  text-decoration: none;
  color: #FFF !important;
  background: rgba(255, 255, 255, 0.2);
}

select[multiple] {
  min-height: 400px;
}